@import '../utilities/variables';

.main-home
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    min-width: 400px;
    padding: 50px;
    height: calc(100vh - 100px);

    &__title
    {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 1px solid $color_light_grey;

        & h1 
        {
            font-size: 30px;
            color: $color_light_blue;
        }

        & span
        {
            font-size: 16px;
            font-weight: 600;
            color: $color_light_blue;
        }
    }

    &__books-list
    {
        display: grid;
        grid-template-columns: 
            repeat(auto-fit, minmax(225px, 1fr));
        justify-content: flex-start;
        align-content: flex-start;
        margin-top: 20px;
    }
}