@import '../utilities/variables';
@import '../utilities/mixins';

.main-home
{
    display: flex;
    justify-content: center;
    height: calc(100vh - 3rem);

    @media (min-width: 800px)
    {
        // Padding has to be applied to the whole page on
        // the desktop layout to keep both <OptionsBar> 
        // and the 'main-home__container' aligned.
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    &__container
    {
        @media (max-width: 800px)
        {
            // On the mobile layout, the container needs to
            // fill 100% of the screen for the side-menu to
            // close when a click happens anywhere outside.
            padding-top: 4rem;
            padding-bottom: 3rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }

    &__books-list
    {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        margin-top: 1.25rem;
        grid-gap: 1.25rem;
        width: 60vw; 

        @media (max-width: 650px) 
        {
            grid-template-columns: repeat(2, minmax(8rem, 1fr));
        }

        @media (max-width: 325px) 
        {
            grid-template-columns: repeat(1, 1fr);
        }

        @media (max-width: 800px) 
        {
            width: 90vw;
        }

        & > * 
        {
            aspect-ratio: 2 / 3; 
            object-fit: cover;
        }    
    }
}