@import '../utilities/variables';
@import '../utilities/mixins';

.main-home
{
    display: flex;
    justify-content: center;
    height: calc(100vh - 3rem);

    &--lm
    {
        background-color: $color_white;
    }

    &--dm
    {
        background-color: $color_very_dark_grey;
    }

    @media (min-width: 800px)
    {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    &__container
    {
        @media (max-width: 800px)
        {
            padding-top: 4rem;
            padding-bottom: 3rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }

    &__books-wrapper
    {
        height: calc(100% - 2.25rem);
        padding-right: 0.1rem; 
        overflow-y: auto;
        overflow-x: hidden;

        @media (max-width: 800px)
        {
            width: 100%;
        }

        &::-webkit-scrollbar 
        {
            width: 1.5rem;
            padding-top: 0.5rem;
        }

        &--lm
        {
            &[style*="--scrolled-bottom: true"] 
            {
                border-bottom: 0.1rem solid $color_light_grey;
            }

            &::-webkit-scrollbar-thumb 
            { 
                border: 0.5rem solid $color_invisible;
                background-clip: padding-box;
                background-color: $color_cyan;
                border-radius: 1rem;
                cursor: ns-resize;
            }

            @-moz-document url-prefix() 
            {
                scrollbar-width: thin;
                scrollbar-color: $color_cyan $color_invisible;
                padding-right: 1rem;
            }
        }

        &--dm
        {
            &[style*="--scrolled-bottom: true"] 
            {
                border-bottom: 0.1rem solid $color_immensily_dark_grey;
            }

            &::-webkit-scrollbar-thumb 
            { 
                border: 0.5rem solid $color_invisible;
                background-clip: padding-box;
                background-color: $color_light_grey;
                border-radius: 1rem;
                cursor: pointer;
            }

            @-moz-document url-prefix() 
            {
                scrollbar-width: thin;
                scrollbar-color: $color_light_grey $color_invisible;
                padding-right: 1rem;
            }
        }
    }

    &__books-list
    {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        margin-top: 1.25rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        padding-bottom: 0.5rem;
        grid-gap: 1.25rem;
        width: 60vw; 

        @media (max-width: 650px) 
        {
            grid-template-columns: repeat(2, minmax(8rem, 1fr));
        }

        @media (max-width: 325px) 
        {
            grid-template-columns: repeat(1, 1fr);
        }

        @media (max-width: 800px) 
        {
            width: 85vw;
        }

        @media (max-width: 325px) 
        {
            width: 80vw;
        }

        & > * 
        {
            aspect-ratio: 2 / 3; 
            object-fit: cover;
        }    
    }
}