@import '../utilities/mixins';

.file-reader
{
    height: calc(100vh - 3rem);
    position: relative;

    &__loading
    {
        width: 100vw;
        height: calc(100vh - 3rem);
        display: flex;
        justify-content: center;
        align-items: center;

        & > p
        {
            font-size: 1.5rem;
        }
    }

    &__pdf-container
    {   
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: calc(100vh - 3rem);

        & > section
        {
            display: flex;
            justify-content: center;
            overflow: auto;
            padding-top: 5.25rem;
            width: 100%;

            @media (max-width: 500px)
            {
                padding-top: 7rem;
            }

            &::-webkit-scrollbar 
            {
                width: 1.5rem;
                height: 1.5rem;
            }

            &::-webkit-scrollbar-track
            {
                margin-top: 0.5rem;
            }
        
            &::-webkit-scrollbar-thumb 
            { 
                border: 0.5rem solid $color_invisible;
                border-radius: 100rem;
                background-color: $color_cyan;
                background-clip: padding-box;

                &:hover
                {
                    cursor: ns-resize;
                }
            }

            @-moz-document url-prefix() 
            {
                scrollbar-width: thin;
                scrollbar-color: $color_cyan $color_invisible;
            }
        }
    }

    &__pdf-page
    {
        border: 0.1rem solid $color_light_grey;
        box-shadow: 0.5rem 0.5rem 0.75rem $color_very_light_grey;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
}