@import './variables';

@mixin aria-invisible() 
{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0; 
    width: 1px;
    height: 1px;  
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0); 
}

@mixin default-borders-light()
{
    border-top-color: $color_dark_grey;
    border-left-color: $color_dark_grey;
    border-bottom-color: $color_black;
    border-right-color: $color_black;

    &:active
    {
        border-top-color: $color_black;
        border-left-color: $color_black;
        border-bottom-color: $color_dark_grey;
        border-right-color: $color_dark_grey;
    }
}

@mixin default-borders-dark()
{
    border-top-color: $color_regular_grey;
    border-left-color: $color_regular_grey;
    border-bottom-color: $color_black;
    border-right-color: $color_black;

    &:active
    {
        border-top-color: $color_black;
        border-left-color: $color_black;
        border-bottom-color: $color_regular_grey;
        border-right-color: $color_regular_grey;
    }
}

// Needs to override because the dm book-form 
// and edit-tags don't use the standard coloring,
// as their background differs from the whole page's.
@mixin search-bar-dm-override()
{
    & > #clearSearchBtn
    {
        background-color: $color_dark_grey !important;
        color: $color_white !important;

        &:hover
        {
            background-color: $color_mildly_dark_grey !important;
            color: $color_dark_white !important;
        }

        &:active
        {
            background-color: $color_very_dark_grey !important;
        }
    }

    & > #wholeWordBtn, #caseSensitivityBtn
    {
        border: 0.1rem solid $color_immensily_dark_grey !important;
        background-color: $color_mildly_dark_grey !important;
        color: $color_dark_white !important;

        &:hover
        {
            background-color: $color_regular_grey !important;
            color: $color_white !important;
        }
    }
    
    & > input 
    {
        background-color: $color_dark_grey !important;
        border: 0.1rem solid $color_immensily_dark_grey !important;
        color: $color_white !important;

        &:focus
        {
            border: 0.15rem solid $color_dark_white !important;
        }

        &::placeholder
        {
            color: $color_dark_white !important;
        }
    }
}