$color_white: hsl(173, 100%, 97%);
$color_invisible: rgba(255, 255, 255, 0);

$color_very_light_black: hsla(200, 5%, 23%, 0.650);
$color_light_black: hsl(200, 5%, 23%);
$color_black: hsl(0, 0%, 5%);

$color_very_light_grey: hsl(182, 48%, 67%);
$color_light_grey: hsl(210, 7%, 71%);
$color_dark_grey: hsl(180, 1%, 47%);
$color_very_dark_grey: hsl(192, 71%, 23%);

$color_very_light_blue: hsl(184, 50%, 50%);
$color_light_blue: hsl(191, 60%, 38%);
$color_blue: hsl(196, 100%, 43%);

$color_orange: hsl(14, 90%, 53%);
$color_light_orange: hsl(14, 100%, 68%);

$color_red: hsl(0, 100%, 50%);