@import '../utilities/variables';

.book-form
{
    width: 100%;
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem; // Align with <EditTags>.
    
    @media (max-width: 675px) or (max-height: 775px)
    {
        padding-bottom: 0rem;
    }

    & header
    {
        width: 100%;
        margin-bottom: 2rem;
        border-bottom: 0.1rem solid $color_light_grey;
        color: $color_cyan;
        justify-content: space-between;
        align-items: center;
        display: flex;

        & > div
        {
            display: flex;
            margin-bottom: 0.5rem;
            gap: 0.5rem;
        }

        & h1
        {
            line-height: '2.65rem';
            margin-bottom: 0.5rem;
        }

        @media (max-width: 500px) 
        {
            & > div
            {
                flex-direction: column;
            }
        }
    }

    & form
    {
        width: 85%;
        max-width: 40rem;
        border: 1px solid $color_light_grey;
        border-radius: 0.5rem;
        box-shadow: 0.4rem 0.4rem 0.4rem $color_light_grey;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        padding-left: 1.5rem;

        &::-webkit-scrollbar 
        {
            width: 1.75rem;
        }
        
        &::-webkit-scrollbar-thumb 
        { 
            border: 0.65rem solid $color_invisible;
            background-color: $color_cyan;
            background-clip: padding-box;
            border-radius: 1.5rem;
            cursor: pointer;
        }

        @-moz-document url-prefix() 
        {
            scrollbar-width: thin;
            scrollbar-color: $color_cyan $color_invisible;

            @media (max-width: 675px)
            {
                // Needs to override the in-line JSX styling for Firefox. 
                padding-right: 1.5rem !important;
            }
        }

        @media (max-width: 675px)
        {
            width: 90%;
            height: 90%;
            max-height: calc(90vh - 3rem);
            overflow-y: auto; 
        }

        @media (max-height: 775px)
        {
            height: 80%;
            overflow-y: auto;
        }
    }

    & label
    {
        font-size: 16px;
        margin-right: 1.5rem;
        margin-bottom: 0.5rem;
    }

    &__saving
    {
        position: absolute;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        &--unselect
        {
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            user-select: none; /* Chrome */
        }
    }

    &__container
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;

        @media only screen and (max-width: 675px) 
        {
            flex-direction: column-reverse;

            & > div:first-child
            {
                width: 100% !important; // Overrides in-line JSX styling.
            } 
        }
    }

    &__input
    {
        width: 100%;
        height: 2.5rem;
        max-width: 17.65rem; // More and it'll grow when too big of an input.
        border: 0.1rem solid $color_light_grey;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        font-size: 1.2rem;

        @media only screen and (max-width: 675px) 
        {
            max-width: 100%;
        }
    }

    &__field
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    &__buttons
    {
        display: flex;
        justify-content: center;
    }

    &__button
    {
        width: 9.375rem;
        height: 3rem;
        margin: 0.4rem;
        border-radius: 0.4rem;
        border: none;
        font-size: 1rem;
        color: $color_white;
        transition: 0.2s;
        cursor: pointer;

        &--save
        {
            background-color: $color_strong_blue;

            &:hover
            {
                background-color: $color_blue;
            }
        }

        &--cancel
        {
            background-color: $color_orange;

            &:hover
            {
                background-color: $color_light_orange;
            }
        }

        &--delete, &--reset
        {
            height: 2rem;
            width: 7rem;
            margin: 0rem;
        }

        &--delete
        {
            background-color: $color_red;

            &:hover
            {
                background-color: $color_light_red;
            }
        }

        &--reset
        {
            background-color: $color_orange;

            &:hover
            {
                background-color: $color_light_orange;
            }
        }
    }
}