@import '../utilities/variables';

.book-card
{
    height: 18.75rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border: 0.15rem solid;
    border-radius: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0.4rem 0.4rem 0.4rem $color_light_grey;
    background-color: $color_very_light_grey;

    &__info
    {
        width: 100%;
        height: 18.75rem;
        border-radius: 0.4rem;
        display: flex;
        overflow: auto;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        color: $color_light_black;
        background-color: $color_very_light_grey;

        &::-webkit-scrollbar 
        {
            width: 1.5rem;
        }
    
        &::-webkit-scrollbar-thumb 
        { 
            border: 0.5rem solid $color_invisible;
            background-clip: padding-box;
            border-radius: 100rem;
            background-color: $color_light_blue;

            &:hover
            {
                cursor: pointer;
            }
        }

        @-moz-document url-prefix() 
        {
            scrollbar-width: thin;
            scrollbar-color: $color_light_blue $color_invisible;
            
            // The firefox scrollbar has no ""padding"" on its left side,
            // so the 'book-card__info' always needs all sides with 0.5rem padding,
            // whereas for Chromium it'll only add if there's no scrollbar.
            // The '!important' is to override the padding set via JSX/code.
            padding-right: 0.5rem !important;
        }
    }

    &__title
    {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }

    &__author
    {
        font-size: 12px;
        font-weight: 600;
    }

    &__edit
    {
        width: 100%;
        height: 2rem;
        border-radius: 0.15rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: $color_very_dark_grey;
    }

    &__tags
    {
        width: 90%;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        & p
        {
            margin: 0.5rem;
            font-weight: bold;   
        }
    }

    &__tags-container
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    & button 
    {
        width: 100%;
        border: none;
        background-color: transparent;
        color: $color_white;
        font-size: 16px;
        cursor: pointer;
    }
}