@import '../utilities/variables';
@import '../utilities/mixins';

.book-card
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    border: 0.15rem solid;
    border-radius: 0.5rem;

    &--lm
    {
        box-shadow: 0.4rem 0.4rem 0.4rem $color_light_grey;
    }

    &--dm
    {
        box-shadow: 0.4rem 0.4rem 0.4rem $color_immensily_dark_grey;
    }

    &--type-lm
    {
        @include default-borders-light();
    }

    &--type-dm
    {
        @include default-borders-dark();
    }

    &--no-type-lm
    {
        // Has no custom :active to act as if ignoring clicks.
        border-top-color: $color_dark_grey;
        border-left-color: $color_dark_grey;
        border-bottom-color: $color_black;
        border-right-color: $color_black;
    }

    &--no-type-dm
    {
        // Has no custom :active to act as if ignoring clicks.
        border-top-color: $color_regular_grey;
        border-left-color: $color_regular_grey;
        border-bottom-color: $color_black;
        border-right-color: $color_black;
    }

    &__info
    {
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        position: relative;
        overflow: hidden;

        &--no-cover-lm
        {
            background-color: $color_very_light_cyan;
        }

        &--no-cover-dm
        {
            background-color: $color_mildly_dark_grey;
        }

        &--cover
        {
            &:hover
            {
                &::before
                {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    z-index: 0;
                    background-color: $color_transparent_filter;
                    transition: opacity 0.2s ease-in-out;
                    backdrop-filter: blur(0.1rem);
                    position: absolute;
                    content: '';
                }

                // &__file-type
                & > div:first-of-type:not(:only-of-type)
                {
                    opacity: 0% !important;
                }
            }
        }
    }

    &__container
    {
        width: 100%;
        height: 100%;
        
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        
        &--lm
        {
            color: $color_light_black;
            
            &::-webkit-scrollbar-thumb 
            {
                background-color: $color_cyan;
            }

            @-moz-document url-prefix() 
            {
                scrollbar-color: $color_cyan $color_invisible;
            }
        }

        &--dm
        {
            color: $color_dark_white;
            
            &::-webkit-scrollbar-thumb 
            {
                background-color: $color_immensily_dark_grey;
            }

            @-moz-document url-prefix() 
            {
                scrollbar-color: $color_immensily_dark_grey $color_invisible;
            }
        }

        &--no-cover
        {
            overflow: auto;
        }

        &--cover-lm
        {
            & p
            {
                text-shadow: 
                    -0.1rem -1px 0 $color_white,  
                    1px -1px 0 $color_white,
                    -1px  1px 0 $color_white,
                    1px  1px 0 $color_white;
            }
        }

        &--cover-dm
        {
            & p
            {
                text-shadow: 
                    -0.1rem -1px 0 $color_black,  
                    1px -1px 0 $color_black,
                    -1px  1px 0 $color_black,
                    1px  1px 0 $color_black;
            }
        }

        &--cover
        {
            overflow: hidden;

            & > div
            {
                opacity: 0%;
                z-index: 50;
                transition: 0.2s ease-in-out;
            }

            &:hover
            {
                overflow: auto;

                & > div
                {
                    opacity: 100%;
                }
            }

            // Prevents text re-sizing as the scrollbar goes away while
            // the text is still visible due to the 0.2s transition.
            &:not(:hover)
            {
                & > div
                {
                    transition: none;
                }
            }
        }

        &::-webkit-scrollbar 
        {
            width: 1.5rem;
        }
    
        &::-webkit-scrollbar-thumb 
        { 
            border: 0.5rem solid $color_invisible;
            border-radius: 100rem;
            background-clip: padding-box;

            &:hover
            {
                cursor: ns-resize;
            }
        }

        @-moz-document url-prefix() 
        {
            // The firefox scrollbar has no fake ""padding"", so this always needs all sides
            // with 0.5rem padding, whereas for Chromium it'll only add if there's no scrollbar.
            // The '!important' is to override the padding set via JSX/code.
            padding-right: 0.5rem !important;
            scrollbar-width: thin;
        }
    }

    &__file-type
    {
        display: flex;
        position: absolute;
        z-index: 1;
        left: -1rem;
        top: -0.45rem;

        padding-top: 0.65rem;
        padding-bottom: 0.15rem;
        padding-left: 0.2rem;
        padding-right: 0.35rem;
        
        border-radius: 0.5rem;
        opacity: 100% !important;
        
        text-transform: uppercase;
        
        &--lm
        {
            color: $color_white;
            border: 0.15rem solid $color_black;
            background-color: $color_dark_cyan;
        }

        &--dm
        {
            color: $color_dark_white;
            border: 0.15rem solid $color_black;
            background-color: $color_immensily_dark_grey;
        }

        & > div
        {
            width: 1rem;
        }
    }

    &__title
    {
        font-size: clamp(18px, 3vw, 26px);
        font-weight: 600;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 0.3rem;
    }

    &__author
    {
        font-size: clamp(10px, 2vw, 14px);
        font-weight: 600;
        margin-bottom: 1.5rem;
    }

    &__publisher, &__release
    {
        margin-bottom: 0.4rem;
        font-size: clamp(12px, 3vw, 16px);

        & span
        {
            text-decoration: underline;
        }
    }

    &__edit
    {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        width: 100%;
        height: 2rem;
        transition: 0.4s;
        cursor: pointer;
        
        border-top-left-radius: 0rem;      
        border-top-right-radius: 0rem;     
        border-bottom-right-radius: 0.3rem;  
        border-bottom-left-radius: 0.3rem;   
        
        &--lm
        {
            background-color: $color_dark_cyan;

            &:hover
            {
                background-color: $color_cyan;
            }

            & > button
            {
                color: $color_white;
            }
        }

        &--dm
        {
            background-color: $color_immensily_dark_grey;
            
            &:hover
            {
                background-color: $color_dark_grey;
            }

            & > button
            {
                color: $color_dark_white;
            }
        }

        & > button 
        {
            width: 100%;
            border: none;
            background-color: transparent;
            font-size: 16px;
            cursor: pointer;
        }
    }

    &__tags
    {
        width: 90%;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        & p
        {
            margin: 0.5rem;
            font-weight: bold;   
        }
    }

    &__tags-container
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        gap: 0.5rem;
    }
}