@import '../utilities/variables';

.color-picker
{
    display: flex;
    flex-direction: row;
    width: 100%;

    &--dropdown-menu
    {
        position: absolute;
        padding: 0.3rem;
        gap: 0.25rem;
        z-index: 1000;
        left: 0;
        top: 0;
        background-color: $color_white;
        border: 0.1rem solid $color_light_grey;
        border-radius: 0.3rem;
    }

    &--tag-edit
    {
        gap: 0.25rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        justify-content: flex-end;
    }
    
    & input
    {
        display: block;
        box-sizing: border-box;
        width: 6rem;
        height: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 0.35rem;
        padding: 0.4rem;
        border: 1px solid #ddd;
        border-radius: 0.25rem;
        background: #eee;
        text-transform: uppercase;
        text-align: center;
        outline: none;
        font: inherit;
    }

    &__buttons
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 35%;
    }
}