@import '../utilities/variables';

.delete
{
    width: 100%;
    display: flex;
    margin-top: 3rem;
    justify-content: center;

    &__message
    {
        width: 50%;
        height: 11.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        background-color: $color_white;
        border-radius: 0.5rem;
        box-shadow: 0.4rem 0.4rem 0.4rem $color_light_grey;
    }

    &__buttons
    {
        display: flex;
        width: 60%;
    }

    &__button
    {
        height: 2rem;
        width: 100%;
        background-color: $color_very_light_grey;
        border-radius: 0.4rem;
        margin: 0.4rem;
        cursor: pointer;
        color: $color_black;
        font-size: 14px;

        &:hover
        {
            opacity: 0.8;
        }

        &--yes
        {
            background-color: $color_blue;
        }

        &--no
        {
            background-color: $color_orange;
        }
    }

    & p, strong
    {
        font-size: 20px;
    }
}