@import '../utilities/variables';
@import '../utilities/mixins';

.file-selector
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.5rem; 
    height: 22.5rem;

    @media only screen and (max-width: 420px) 
    {
        width: 100%;
        height: 20rem;
    }

    &__container
    {
        width: 100%;
        height: 100%;
        padding: 3rem;
        color: $color_light_grey;
        background-size: cover;
        background-repeat: no-repeat; 
        background-position: center;
        background-size: 100% 100%;
        border-radius: 0.5rem;
        border: 0.1rem solid $color_light_grey;
        transition: 0.2s;
        cursor: pointer;

        &:hover
        {
            opacity: 0.8;
        }
    }

    &__drop-icon-container
    {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 2rem;
        height: 100%; 
        width: 100%;
    }

    &__buttons-container
    {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        gap: 0.5rem;
    }

    &__button
    {
        cursor: pointer;
        color: $color_white;
        transition: 0.2s;
        padding: 0.5rem;
        z-index: 1000;
        height: 3rem;
        width: 3rem;

        border-radius: 0.4rem;
        border: 0.15rem solid;
        @include default-borders();
        
        &--remove-file
        {
            background-color: $color_red;
            
            &:hover
            {
                background-color: $color_strong_red;
            }
        }

        // Can't re-use '--remove-file' due to svg sizing.
        &--remove-image
        {
            background-color: $color_red;
            padding: 0.25rem !important; // Weird <svg> be like.
            
            &:hover
            {
                background-color: $color_strong_red;
            }
        }

        &--clear-image
        {
            background-color: $color_light_orange;
            padding: 0.25rem !important; // Weird <svg> be like.
            
            &:hover
            {
                background-color: $color_orange;
            }
        }

        &--select-image
        {
            background-color: $color_blue;
            
            &:hover
            {
                background-color: $color_strong_blue;
            }
        }

        &--revert-image
        {
            background-color: $color_very_light_blue;
            
            &:hover
            {
                background-color: $color_light_blue;
            }
        }
    }
}