@import '../utilities/variables';

.searchbar
{
    position: relative;
    width: 100%;

    &__input
    {
        background-clip: padding-box;
        border-radius: 0.5rem;
        padding: 0.375rem 0.75rem;
        line-height: 1.5;
        font-weight: 400;
        font-size: 1rem;
        width: 100%;
        
        &--lm
        {
            background-color: $color_very_light_grey;
            border: 0.1rem solid $color_light_grey;
            color: $color_light_black;

            &::placeholder
            {
                color: $color_mildly_dark_grey;
            }
        }

        &--dm
        {
            background-color: $color_mildly_dark_grey;
            border: 0.1rem solid $color_immensily_dark_grey;
            color: $color_white;

            &::placeholder
            {
                color: $color_dark_white;
            }
        }

        &:focus-visible
        {
            outline: 0px;
            outline-offset: 0px;
            border: 0.15rem solid;
        }
    }

    &__button
    {
        width: 1.5rem;
        height: 1.5rem;
        top: 0.45rem;
        transition: 0.2s;
        font-size: 0.8rem;
        position: absolute;
        border-radius: 0.25rem;
        cursor: pointer;
        
        &--lm
        {
            border: 0.1rem solid $color_dark_grey;
            background-color: $color_dark_white;
            color: $color_light_black;

            &:hover
            {
                background-color: $color_light_grey;
            }
        }

        &--dm
        {
            border: 0.1rem solid $color_immensily_dark_grey;
            background-color: $color_dark_grey;
            color: $color_dark_white;

            &:hover
            {
                background-color: $color_regular_grey;
                color: $color_white;
            }
        }

        &--whole-word
        {
            right: 0.5rem;
            padding: 0.15rem; 
        }

        &--toggle-case
        {
            right: 2.5rem;
        }

        &--clear
        {
            right: 4.35rem;
            border-radius: 50rem;
            border: none;
            opacity: 50%;

            &-lm
            {
                background-color: $color_very_light_grey;
                color: $color_light_black;

                &:hover
                {
                    background-color: $color_dark_white;
                }

                &:active
                {
                    background-color: $color_light_grey;
                }
            }

            &-dm
            {
                background-color: $color_mildly_dark_grey;
                color: $color_dark_white;

                &:hover
                {
                    background-color: $color_dark_grey;
                }

                &:active
                {
                    background-color: $color_regular_grey;
                }
            }

            &:hover
            {
                opacity: 100%;
            }
        }
    }
}