.tag-container 
{
    height: 1.55rem;
    max-width: 5.25rem;
    padding: 0.15rem 0.2rem 0.1rem 0.2rem;
    border-radius: 0.3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    // Used for different texts on dark or light background tags.
    &--dark
    {
        color: $color_white;
    }

    &--light
    {
        color: $color_black;
    }

    &--too-big
    {
        width: 5.25rem;
    }

    &__text 
    {
        white-space: nowrap;
        text-transform: uppercase;
        display: inline-block; // Needed for resizeObserver.

        &--too-big
        {
            animation: scrollText var(--scroll-duration) linear infinite;
            position: absolute;
            left: 0.25rem;

            @keyframes scrollText 
            {
                0% 
                {
                    transform: translateX(0);
                }
                50% 
                {
                    transform: translateX(var(--scroll-distance)); 
                }
                100% 
                {
                    transform: translateX(0); 
                }
            }
        }

        &--empty
        {
            animation: fadeText 2s linear infinite;
            text-transform: lowercase !important;
            font-style: italic;

            @keyframes fadeText
            {
                0% 
                {
                    opacity: 100%;
                }
                50% 
                {
                    opacity: 10% 
                }
                100% 
                {
                    opacity: 100% 
                }
            }
        }
    }
}